h1, h2 , div{
    width: 100%;
    margin: auto;
    text-align: center;
}

button {
    display: block;
    width: 100%;
    padding: 20px;
    margin: 10px;
}

li {
    float: left;
    padding-right: 20px;
}

* {
    font-size: 25px;
}

div {
    border: black ;
    border-style: solid;
    width: 100%;
    text-align: center;
    border-width: 2px;
}


